/**/*-private
/**/log.txt
/**/*history

/build/
/tmp/
/nbproject/
/dist/
/test/
/src/.Rproj.user/
.vscode/*

/*.png
/*.html
/*.log
/*.zip
/*.out
/*.csv
/*.txt
/*.Rout
/*.Rdata
/*.RData
/*.Rmd
/*.exec
/*.xml
/.f/
/*.R
/*.sh
/*.bat
/*.py
/*.conf
/Run*
/Design*